body{
    background-color: $black_color;
    display: flex;
}
.facebook, .instagram, .telegram{
    width: 35px;
    height: 35px;
    color: $color_white;
}
.vector_left, .vector_right{
    width: 13px;
    height: 23px;
}
.menu{
    margin: 80px 0px 0px 50px;
    height: 626px;
    display: flex;
    position: fixed;
    .view_menu{
        border-radius: 100px;
        background-color: $color_white;
        display: block;
        padding: 32px 5px 0px 10px;
    }
    .content_menu{
        margin: 35px 0px 0px 0px;
    }
    .cirqle, .text_cirqle {
        padding: 0px 0px 41px 0px;
        display: flex;
        span{
            width: 34px;
            height: 34px;
            background-color: $black_color;
            border-radius: 100%;
            display: block;
        }
        p{
            @include menu;
            width: 91px;
            padding: 9px 0px 9px 10px;
            a{
                color: $color_white;
                text-decoration: none;
                opacity: 0;
            }
        }
        .p1{
            padding: 9px 0px 1px 10px;
        }
    }
}


header{
    margin: 30px 0px 0px 220px;
    .header{
        display: flex;
    }
    .named_catalog{
        padding: 0px 0px 5px 0px;
        display: flex;
        h1 {
            @include headerFoll;
            margin: 20px 0px 0px 0px;
        }
        .acorn {
            margin: 90px 0px 0px 10px;
            width: 24px;
            height: 28px;
            transform: scaleX(-1);
        }
    }
    .data_contacts{
        margin: 30px 0px 0px 650px;
    }
    .contacts{
        display: flex;
    }
    .facebook, .instagram, .telegram{
        background-color: $color_white;
        border-radius: 100%;
        margin: 0px 15px 0px 0px;
        .facebook_img{
            width: 11px;
            height: 25px;
            padding: 4px 11px 15px 12px;
        }
        .instagram_img{
            width: 21px;
            height: 21px;
            padding: 7px 7px 7px 7px;
        }
        .telegram_img{
            width: 22px;
            height: 24px;
            padding: 5px 7px 6px 4px;
        }
    }
    .NeoFauna{
        @include roboto_light;
        padding: 0px 0px 20px 90px;
    }




    .main{
        display: flex;
    }
    .filter{
        background-color: $black_color;
        border: 1px solid $color_white;
        width: 209px;
        height: 550px;
        padding: 30px 0px 0px 25px;
        margin: 0px 0px 0px 250px;
    }
    .find{
        width: 180px;
        height: 39px;
        background-color: $black_color;
        border: 1px solid $color_white;
        margin-bottom: 25px;
        p{
            padding: 10px 60px 10px 60px;
        }
    }
    .dropdown{
        display: flex;
        margin-top: 25px;
        .arrow{
            width: 10px;
            height: 5px;
            margin: 10px;
        }
    }
    .checkbox{
        padding-bottom: 10px;
    }
    .content1, .content2{
        display: flex;
        height: 320px;
    }
    .line{
        width: 251px;
        height: 281px;
    }
    .bird{
        width: 195px;
        height: 225px;
    }
    .hesh-teg{
        display: flex;
        margin-left: 155px;
    }
    .teg{
        background-color: $black_color;
        border: 1px solid $color_white;
        width: 70px;
        height: 25px;
        margin-right: 10px;
        p{
            padding: 5px 10px 5px 10px;
        }
    }
    .name{
        display: flex;
        h2{
            padding-right: 10px;
        }
        p{
            padding-top: 3px;
        }
    }
    .content1{
        .bird{
            margin: 31px 0px 0px -225px;
            position: absolute;
        }
        .trash{
            margin: 269px 0px 0px -216px;
            width: 75px;
            height: 50px;
            //position: absolute;
        }
        .description{
            display: flex;
            margin: 61px 0px 0px -180px;
            .description1, .description2{
                width: 240px;
            }
        }
    }
    .content2{
        .bird{
            margin: 31px 0px 0px -225px;
            position: absolute;
        }
        .trash{
            margin: 269px 0px 0px -216px;
            width: 75px;
            height: 50px;
            //position: absolute;
        }
        .description{
            display: flex;
            margin: 61px 0px 0px -180px;
            .description1, .description2{
                width: 240px;
            }
        }
    }
}